@import url('https://fonts.googleapis.com/css?family=Lato" rel="stylesheet');

.navbar-default{
    background-color: white;
    width: 100%;
    height: 50px;
}
.navbar{
    width: 100%;
    position: relative;
    border: none;
    margin-top: 1%;
}

.signButton{
    color: white;
    background-color: #00abfa;
    margin: 0 auto;
    padding: 15px 50px;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
}

.loginButton{
    color: white;
    background-color: #00abfa;
    padding: 15px 50px;
    margin: 8px 0 0 0 !important;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
}

.helpButton{
    color: white;
    background-color: #00abfa;
    padding: 15px 50px;
    border-radius: 4px;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.navbar-brand>img{
    width: 115px;
    position: absolute;
    top: 2%;
}

